.pg_text {
    width: 100%;
    padding: 40px;
    border-radius: 10px;
    border: 2px solid gray;
    background-color:#071e3d;

   
    display: flex;
    justify-content: center;
    align-items: center;


    font-size: 35px; 

    color: white;
}